@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~nprogress/nprogress.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
	background: #181a20;
	color: #fff;
}

.signup-wrapper,
.withdraw-wrapper,
.referral-wrapper,
.wallet-wrapper {
	background-image: url('/bg2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.referral-wrapper {
	background-image: url('/refarel-bg-1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ai-wrapper {
	background-image: url('/ai-bg1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.reward-wrapper {
	background-image: url('/reword_1.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Hide scrollbar */

.side-bar::-webkit-scrollbar {
	display: none;
}

.user-heder::-webkit-scrollbar {
	display: none;
}

/*End Referral CSS */

/* Start Glob css */
.globe-wrapper {
	background-image: url('/images/mining/hand.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
/* End Glob css */

/* Background Overlay Styles */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		255,
		0,
		0,
		0.5
	); /* Adjust the opacity and color as needed */
	z-index: 1; /* Ensure the overlay appears on top of other elements */
}

.ai-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		24,
		1,
		75,
		0.5
	); /* Adjust the opacity and color as needed */
	z-index: 1; /* Ensure the overlay appears on top of other elements */
}

/* Content Container Styles */
.content {
	position: relative; /* Needed to position content relative to the overlay */
	z-index: 2; /* Ensure the content appears above the overlay */
}

/*Start Wingame Board Style */
.btn-0 {
	background-image: linear-gradient(160deg, #6739b6 50%, #e54d42 0);
}
.btn-5 {
	background-image: linear-gradient(160deg, #6739b6 50%, #39b54a 0);
}

.timer {
	background-image: radial-gradient(
		circle,
		#940356,
		#9a025e,
		#9f0367,
		#a40570,
		#a90879,
		#b10477,
		#b90174,
		#c10071,
		#ca0060,
		#d0004e,
		#d3003c,
		#d30627
	);
}
/*End Wingame Board Style */

/* For Webkit-based browsers (e.g., Chrome, Safari) */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* For Edge */
input::-ms-clear {
	display: none;
}

/* For IE 10+ */
input::-ms-reveal {
	display: none;
}

/* Notice css */
.notice-text {
	animation: marquee 15s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
/* Notice css */
